.image {
  height: 40em;
  background-size: cover;
  width: auto;
  background-image: url("https://img.freepik.com/free-vector/bank-workers-providing-service-clients_74855-4365.jpg?w=1060&t=st=1682084531~exp=1682085131~hmac=75988901a6089883c39258dda5953900eb53e43585852dadeeba32d34f9fcbe0");
  background-position: 50% 50%;
}
