<mat-card>
  <div style="text-align: right">
    <mat-icon (click)="openEditModal(customer)">edit</mat-icon>
  </div>
  <div>Name : {{ customer.fist_name + customer.last_name }}</div>
  <div>Address : {{ customer.address }}</div>
  <div>City : {{ customer.city }}</div>
  <div>Gender : {{ customer.gender }}</div>
  <div>Contact : {{ customer.contact_no }}</div>
  <div>Aadhaar : {{ customer.addhar_card }}</div>
  <div>Email : {{ customer.email }}</div>
  <div>Salary : {{ customer.salary }}</div>
  <div>DOB : {{ customer.date_of_birth }}</div>
  <div>Credit score : {{ customer.credit_score }}</div>
</mat-card>
